<mat-card class="home" mat-elevation-z4 >
    <mat-card-title class="title">Seja Benvido</mat-card-title>
    <mat-card-subtitle class="subtitle">A Oásis Atlântico é um grupo económico português nascido em Cabo Verde na década de 90 e que conta já com mais de 20 anos de crescimento na área de turismo e imobiliário - turística.
      De Cabo Verde demos o salto para o Nordeste do Brasil em 2000, e em 2019 o Grupo deu entrada em Marrocos, mais concretamente em Saidia.
      Dispõe actualmente de 8 Hotéis - 4 em Cabo Verde, 2 no Nordeste do Brasil, no Estado do Ceará, em Fortaleza, e 2 em Saidia, Marrocos.
      Tem ainda vários projectos imobiliário - turísticos em Cabo Verde e no Brasil.</mat-card-subtitle>
</mat-card>
