<div class="space"></div>
<div fxLayout="row wrap" fxLayoutAlign="center center">
  <div class="menuDiv" fxFlex="70%" fxFlex.sm="100%" fxFlex.xs="100%" fxLayoutAlign="center center ">
    <div fxLayoutAlign="center center">
      <mat-icon class="mat-18">supervised_user_circle</mat-icon>
      <span>Lista de Colaboradores</span>
    </div>
    <div  fxFlex ></div>
    <div fxShow fxHide.xs>Item 1 |  Item 2&nbsp;</div>
    <div fxHide fxShow.xs>
      <button mat-button [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
      </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>Item 1</button>
          <button mat-menu-item>Item 2</button>
        </mat-menu>
    </div>
  </div>
  <div class="space" fxFlex="100%"></div>
<!-- 2nd Div -->
<div class="2ndDiv" fxFlex="70%" fxFlex.sm="100%" fxFlex.xs="100%" fxLayout=" wrap" fxLayoutAlign="center center ">

  <div class="divA" fxFlex="25%" fxFlex.sm="50%"  fxFlex.xs="100%" fxLayoutAlign="center center ">
      <mat-form-field class="form" fxFlex="80%" fxFlex.sm="100"  fxFlex.xs="100%">

        <mat-label> Hotel </mat-label>
           <mat-select matNativeControl  >
               <mat-option > -- select Hotel -- </mat-option>
               <mat-option ></mat-option>
           </mat-select>

      </mat-form-field>

  </div>
  <div class="divB" fxFlex="25%" fxFlex.sm="50%"  fxFlex.xs="100%" fxLayoutAlign="center center ">

    <mat-form-field class="form" fxFlex="80%" fxFlex.sm="100"  fxFlex.xs="100%">

      <mat-label> Departamento </mat-label>
         <mat-select matNativeControl  >
             <mat-option > -- select Departamento -- </mat-option>
             <mat-option ></mat-option>
         </mat-select>

    </mat-form-field>

  </div>
  <div class="divC" fxFlex="50%" fxFlex.sm="50%"  fxFlex.xs="100%" fxLayoutAlign="star center ">

    <mat-form-field class="form" fxFlex="50%" fxFlex.sm="100"  fxFlex.xs="100%">

      <mat-label> Colaborador </mat-label>
         <mat-select matNativeControl  >
             <mat-option > -- select Colaborador -- </mat-option>
             <mat-option ></mat-option>
         </mat-select>

    </mat-form-field>

  </div>

</div>
<div class="space" fxFlex="100%"></div>
<!-- 3nd Div -->
<div fxFlex="70%" fxFlex.sm="100%" fxFlex.xs="100%" fxLayout=" wrap">
  <div fxFlex="100%" fxFlex.sm="100%"  fxFlex.xs="100%" fxLayoutAlign="center center ">
    <div class="divD" fxFlex="100%" fxFlex.sm="100%" fxFlex.xs="100%" fxLayoutAlign="star center ">
      <i class="material-icons">account_balance</i>
              Hotel:
    </div>
  </div>
  <div fxFlex="100%" fxFlex.sm="100%"  fxFlex.xs="100%" fxLayoutAlign="star center ">
    <div class="divE" fxFlex="100%" fxFlex.sm="100%" fxFlex.xs="100%" fxLayoutAlign="star center ">
      <i class="material-icons">contact_phone</i>
              Fax:

      <i class="material-icons">phone</i>
              Telefone:
    </div>

  </div>
  <div class="space" fxFlex="100%"></div>
  <div fxFlex="100%" fxFlex.sm="100%"  fxFlex.xs="100%" fxLayoutAlign="star center ">
    <div class="divD" fxFlex="100%" fxFlex.sm="100%" fxFlex.xs="100%" fxLayoutAlign="star center ">
      <i class="material-icons">table_chart</i>
              Departamento
    </div>
  </div>
  <div fxFlex="100%" fxFlex.sm="100%"  fxFlex.xs="100%" fxLayoutAlign="star center ">
    <div class="divE" fxFlex="100%" fxFlex.sm="100%" fxFlex.xs="100%" fxLayoutAlign="star center ">
      <i class="material-icons">call</i>
              Extensão
    </div>
  </div>
  <div class="space" fxFlex="100%"></div>
  <div fxFlex="100%" fxFlex.sm="100%"  fxFlex.xs="100%" fxLayoutAlign="star center ">
    <div class="divF" fxFlex="100%" fxFlex.sm="100%" fxFlex.xs="100%" fxLayoutAlign="star center ">
      <i class="material-icons">supervised_user_circle</i>
              Colaborador
    </div>
  </div>
</div>
<!-- 4nd Div -->
<div class="space" fxFlex="100%"></div>
<div class="bottomDiv" fxFlex="70%" fxFlex.sm="100%" fxFlex.xs="100%" fxLayoutAlign="center center ">
  All copyright reserved Oasis Dev
</div>
<div class="space" fxFlex="100%"></div>
<!-- end -->
</div>
